#pane {
    -fx-background-color: #505050;
}

#mainWindow {
    -fx-font-family: Consolas;
    -fx-font-size: 16px;
    -fx-text-fill: #bbb;
    -fx-highlight-text-fill: #000000;
    -fx-highlight-fill: #bbb;
    -fx-background-color: #000000;
    -fx-border-radius: 0;
}

#concentration, #agility, #strength {
    -fx-background-color: #121212;
    -fx-border-radius: 5px;
    -fx-alignment: center;
}